<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog pratik</title>
</head>
<body>
    <nav >
        <div class="site-title">
            <a href="/"><h1>Blog Pratik</h1></a>
            <p>A Pratik Bagul site</p>
        </div>
        <ul>
            <li><a href="/">BLogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create"> New Blog</a></li>
            
        </ul>
    </nav>

    <div class="blog content">
        <h2>All Blogs</h2>
    </div>

</body>
</html>